*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url("http://localhost/EmpresaProyecto/css/background-image/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: 1rem;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 50%, rgba(0,0,0,1) 100%);
    padding: 2rem;
    color: white;
}
#header{
    margin:auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #db1212;
    color: #272727;
}
ul, ol{
    list-style: none;
    color: #272727;
}
.nav{
    padding: 0px 0px 0px 0px;
    background-color: #db1212;
    border-bottom: #ffffff;
    width: 100%;
}
.nav li h2 {
    background-color: #db1212;
    color: #ffffff;
    text-decoration: none;
    padding:17px 150px;
    display: block;
}

.nav li a {
    background-color: #db1212;
    color: #ffffff;
    text-decoration: none;
    padding:22px 35px 22px 30px;
    display: block;
}
.nav li a:hover{
    background-color: #ff4848;
}

.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 260px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right:-260px;
    top: 0px;
}
